* {
    margin: 0;
    padding: 0;
}
.container {
    width: 70%;
    margin: 0 auto;
}
#header {
    background: url(./img/header-bg.png) no-repeat center/cover;
    height: 100vh;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.header img {
    margin-right: 120px;
}
.header-nav a {
    margin-right:40px;
    color: white;
font-size: 24px;
font-weight: 400;
line-height: 28px;
text-decoration: none;
}
.header-text h1 {
font-size: 200px;
font-weight: 700;
line-height: 235px;
letter-spacing: 0.6000000238418579px;
color: #0D302C;

}
.header-text p {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.6000000238418579px;
}
.header-text {
    padding-top:200px;
    display: flex;
align-items: center;
justify-content: center;
flex-direction: column; }
.header-text img { 
    padding-top: 270px;
}
#hero {
    padding:90px 0 150px 0 ;
}
.hero-main h1 {
font-size: 48px;
font-weight: 600;
line-height: 56px;
letter-spacing: 0.6000000238418579px;
    color: #01353E;
  
}
.hero-main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-all{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly  ;
    padding-top: 50px;
}
.hero-all p{
    color: #242121;
    font-size: 17px;
    font-weight: 300;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.6px;
    margin-top: 50px;
}
#first {
    padding: 50px 0;
    background: #F8F8F8;
}
.first h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0.6000000238418579px;
        color: #01353E;
      
    }
.card {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card h3 {
    margin-left: 20px;
    color: #242121;
font-size: 24px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.6px;
}
.card p {
    color: #242121;
font-size: 14px;
font-weight: 300;
line-height: 18px; /* 128.571% */
letter-spacing: 0.6px;
margin-top: 18px ;
}
.first-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6pc;
}
.card-dawn h2 {
    color: #242121;
font-size: 24px;
font-weight: 400;
line-height: 18px; /* 75% */
letter-spacing: 0.6px;
}
.card-dawn p {
    color: #242121;
font-size: 14px;
font-weight: 300;
line-height: 18px; /* 128.571% */
letter-spacing: 0.6px;
}
.card-dawn-all {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 10pc;
}
.card-dawn-right p {
    color: #242121;
font-size: 14px;
font-weight: 300;
line-height: 18px; /* 128.571% */
letter-spacing: 0.6px;

}
.card-dawn {
    margin-bottom: 30px;
}

.second-main h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0.6000000238418579px;
        color: #01353E;
      
    }
  #second {
    padding: 0 0 80px 0;
  }
    .second-main {
        display: flex;
        margin-top: 10pc;
    }
    .second p {
        color: #242121;
font-size: 14px;
font-weight: 300;
line-height: 18px; /* 128.571% */
letter-spacing: 0.6px;
    }
    .second {
        display: flex;
        justify-content: space-between;
        
    }
    .second-text {
        padding-left:  190px;
    }
#third {
    padding: 0 0 150px 0;
}
.third-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.third-nav a {
 color: #242121;
font-size: 24px;
font-weight: 400;
line-height: 18px; /* 75% */
letter-spacing: 0.6px;
text-decoration: none;
margin:120px 20px 0 0;

}
.third img {
    margin: 50px 40px 0 0 ;
}
.third button {
    color: #242121;
font-size: 24px;
font-weight: 400;
line-height: 18px; /* 75% */
letter-spacing: 0.6px;
width: 350px;
height: 70px;
border: 1px solid #C4C4C4;
background: #FFF;
margin-top: 50px ;
}
#motivation {
    padding: 70px 0;
    background: #F8F8F8;
}
.motivation h1 {
    color: #242121;
font-size: 36px;
font-style: italic;
font-weight: 400;
line-height: 40px; /* 111.111% */
letter-spacing: 0.6px;
}
.motivation h4{
    color: #242121;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.6px;
    margin-left: 600px;
}
.motivation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}